@use "global" as *;

.information-layout {
    margin-top: rem(83);
    padding-top: rem(80);
    padding-bottom: rem(83);
    @include mq("md") {
        margin-top: rem(140);
        padding: rem(98) 0;
    }
}