@use "global" as *;

.layout-footer {
  margin-top: rem(103);
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    margin-top: rem(160);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.layout-footer.layout-footer--contact {
  margin-top: rem(136);
  @include mq("md") {
    margin-top: rem(115.2);
  }
}

.layout-footer.layout-footer--404 {
  margin-top: 0;
  @include mq("md") {
    margin-top: rem(50);
  }
}
