@use "global" as *;

.layout-page-404 {
  padding-top: rem(48);
  padding-left: rem(25);
  padding-right: rem(25);
  padding-bottom: rem(42.8);
  max-width: rem(1130);
  margin: 0 auto;
  @include mq("md") {
    padding-top: rem(120.6);
    padding-bottom: rem(101);
  }
}
