@use "global" as *;

.layout-top-price {
  margin-top: rem(83);
  padding-top: rem(80);
  padding-bottom: rem(83);
  @include mq("md") {
    margin-top: rem(145.2);
    padding-top: rem(99.4);
    padding-bottom: rem(103);
  }
}
