@use "global" as *;

.blog {
    position: relative;
}

.blog::before {
    @include mq("md") {
        position: absolute;
        display: inline-block;
        content: "";
        width: 100%;
        height: rem(500);
        background-image: url("../images/common/blog-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
    }
}

.blog__inner {
    position: relative;
}

.blog__illust-top {
    display: none;
    @include mq("md") {
        display: inline-block;
        position: absolute;
        width: 100%;
        max-width: rem(437);
        top: rem(-76);
        right: clamp(rem(400), 56.583333vw, rem(747));
    }
}

.blog__illust-top img {
    aspect-ratio: 437 / 201;
    object-fit: cover;
}

.blog__cards {
    margin-top: rem(25);
    @include mq("md") {
        margin-top: rem(78);
    }
}


.blog__button {
    text-align: center;
    margin-top: rem(39);
    @include mq("md") {
        margin-top: rem(82);
}
}
