@use "global" as *;


.blog-cards {
    row-gap: rem(40);
    display: grid;
    justify-items: center;
    align-items: center;
    @include mq("md") {
        grid-template-columns: repeat(3,1fr);
        column-gap: rem(40);
    }
}

.blog-cards__item {
    width: 100%;
    max-width: rem(600);
    display: block;
    background-color: $white;
}