@use "global" as *;

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: rem(16) rem(16) rem(18);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba($color: #000000, $alpha: 0.25);
  transition: transform 0.5s ease;
  @include mq("md") {
    padding: rem(16);
  }
}

.blog-card:hover img {
  transform: scale(1.1);
}

.blog-card__img {
  aspect-ratio: 301 / 201;
  overflow: hidden;
}

.blog-card__img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: transform 0.6s ease;
}

.blog-card__body-top {
  margin-top: rem(19);
  @include mq("md") {
    margin-top: rem(17.4);
  }
}

.blog-card__meta {
  font-size: rem(12);
  line-height: 1;
  color: $green;
}

.blog-card__title {
  font-size: rem(16);
  line-height: 1.5;
  color: $green;
  font-weight: $medium;
  margin-bottom: auto;
  flex-grow: 1;
}

.blog-card__text::before {
  content: "";
  width: 100%;
  height: rem(1);
  background-color: $accent-green;
  display: inline-block;
  margin-bottom: rem(14.2);
  @include mq("md") {
    margin-bottom: rem(14.6);
  }
}
