@use "global" as *;

.category {
    display: inline-block;
    vertical-align: middle;
    padding: rem(10) rem(11) rem(6);
    border: 1px solid $accent-green;
    color: $accent-green;
    font-size: rem(12);
    line-height: 1;
    @include mq("md") {
        padding: rem(12) rem(16) rem(8);
    }
}