@use "global" as *;

.category {
  display: inline-block;
  vertical-align: middle;
  padding: rem(10) rem(11) rem(6);
  border: 1px solid $accent-green;
  color: $accent-green;
  font-size: rem(12);
  line-height: 1;
  @include mq("md") {
    padding: rem(12) rem(16) rem(8) rem(14);
  }
}

.category.category--big {
  background-color: $white;
  width: 100%;
  font-size: rem(14);
  text-transform: uppercase;
  padding: rem(10) rem(15) rem(8);
  transition: 0.3s ease;
  text-align: center;
}

.category.category--big:hover {
  background-color: $accent-green;
  color: $white;
}

.category.category--big.current {
  background-color: $accent-green;
  color: $white;
}
