@use "global" as *;

.drawer-menu__addClass {
    display: flex;
    width: 100vw;
    height: inherit;
    overflow: scroll;
    padding: rem(20) 0 rem(100);
}

.drawer-menu__inner {
    min-height: rem(520);
    width: 100%;
    max-width: rem(400);
    margin: 0 auto;
    padding-left: rem(15);
    padding-right: rem(15);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: rem(250) rem(250);
    column-gap: rem(10);
    row-gap: rem(20);
    margin-top: rem(24);
}


.drawer-menu__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.drawer-menu__item {
    display: block;
    width: 100%;
}

.drawer-menu__item:nth-child(2) {
    margin-top: rem(10);
}

.drawer-menu__link {
    padding-top: rem(10);
    padding-bottom: rem(10);

}

.drawer-menu__link span {
    margin-left: rem(18);
    @include mq("md") {
        margin-left: 0;
    }
}

.drawer-menu__link br {
    @include mq("md") {
        display: none;
    }
}
