@use "global" as *;

.nav__wrapper:nth-child(2) {
  @include mq("md") {
    margin-left: rem(10);
  }
}

.nav__wrapper:nth-child(3) {
  margin-left: rem(8);
  @include mq("md") {
    margin-left: rem(5);
  }
}

.nav__wrapper:nth-child(4) {
  margin-left: rem(8);
  @include mq("md") {
    margin-left: 0;
  }
}

.nav__items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav__items + .nav__items {
  margin-top: rem(12);
  @include mq("md") {
    margin-top: rem(15);
  }
}

.nav__item {
  display: inline-block;
  width: 100%;
  font-size: clamp(0.5rem, -1.885rem + 12.31vw, 1rem);
  font-weight: $bold;
  color: white;
  line-height: 1.2;
  padding-left: rem(4);
  transition: opacity 0.3s;
}

.nav__item a {
  display: inline-block;
  width: 100%;
  padding-top: rem(10);
  padding-bottom: rem(10);
}

.nav__item a span {
  margin-left: rem(18);
  @include mq("md") {
    margin-left: 0;
  }
}

.nav__item a br {
  @include mq("md") {
    display: none;
  }
}

.nav__item a:hover {
  opacity: 0.7;
}

.nav__item a::before {
  display: inline-block;
  content: "";
  width: rem(18);
  height: rem(18);
  position: relative;
  top: rem(4);
  left: rem(-4);
  mask: url("../images/common/starfish.svg");
  -webkit-mask: url("../images/common/starfish.svg");
  background-color: $white;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.nav__item.nav__item--no-icon {
  font-weight: $normal;
}

.nav__item.nav__item--no-icon a::before {
  mask: none;
  background-color: transparent;
}

.nav.nav--green .nav__item a {
  color: $green;
}

.nav.nav--green .nav__item a::before {
  content: "";
  mask: url("../images/common/starfish.svg");
  -webkit-mask: url("../images/common/starfish.svg");
  width: rem(18);
  height: rem(18);
  background-color: $green;
  display: inline-block;
  mask-size: cover;
  -webkit-mask-size: cover;
}

.nav.nav--green .nav__item.nav__item--no-icon a::before {
  mask: none;
  background-color: transparent;
}
