@use "global" as *;

.page-contact {
  position: relative;
}

.page-contact__inner.inner {
  max-width: rem(750);
}

.page-contact__inner::before {
  content: "";
  background-image: url("../images/common/fish2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  pointer-events: none;
  max-width: rem(120);
  width: 100%;
  height: clamp(rem(55), 50%, rem(80));
  left: calc(50% - min(45.9%, 18.6rem));
  z-index: -1;
  top: rem(-36.6);
  @include mq("md") {
    top: rem(-70);
    max-width: rem(300);
    width: clamp(rem(120), 50%, rem(300));
    height: clamp(rem(135), 50%, rem(138));
    left: calc(50% - min(48%, 38.7rem));
  }
}
