@use "global" as *;

.page-site-map {
  position: relative;
}

.page-site-map__inner::before {
  content: "";
  background-image: url("../images/common/fish2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  pointer-events: none;
  max-width: rem(120);
  width: 100%;
  height: clamp(rem(55), 50%, rem(80));
  left: calc(50% - min(45.9%, 18.6rem));
  z-index: -1;
  top: rem(-23.8);
  @include mq("md") {
    top: rem(-70);
    max-width: rem(300);
    width: clamp(rem(120), 50%, rem(300));
    height: clamp(rem(135), 50%, rem(138));
    left: calc(50% - min(48%, 38.7rem));
  }
}

.page-site-map__menu {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-template-columns: rem(170) rem(170);
  grid-template-rows: 0.8fr 1fr;
  column-gap: rem(7.6);
  row-gap: rem(13);

  @include mq("md") {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    column-gap: clamp(rem(22), -5.482rem + 14.29vw, rem(116));
  }
}
