@use "global" as *;

.price-table {
  border: 1px solid $accent-green;
  @include mq("md") {
    display: flex;
    justify-content: space-around;
  }
}

.price-table__title {
  font-size: rem(16);
  line-height: 1.5;
  color: $white;
  font-weight: $bold;
  @include mq("md") {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: rem(8);
  }
}

.price-table__body {
  text-align: center;
  @include mq("md") {
    width: 100%;
    text-align: left;
  }
}

.price-table__title-wrapper {
  display: flex;
  flex-direction: row-reverse;
  color: $white;
  justify-content: center;
  align-items: center;
  background-color: $accent-green;
  padding-top: rem(8);
  padding-bottom: rem(4);
  @include mq("md") {
    padding: 0;
    border-right: 1px solid $accent-green;
    width: 40%;
    flex-direction: column;
  }
}

.price-table__title {
  font-size: rem(16);
}

.price-table__title::before {
  content: "";
  mask: url("../images/common/whale.svg");
  -webkit-mask: url("../images/common/whale.svg");
  width: rem(24);
  height: rem(24);
  background-color: $white;
  display: inline-block;
  mask-size: cover;
  -webkit-mask-size: cover;
  margin-right: rem(8);
  vertical-align: text-top;
  @include mq("md") {
    width: rem(64);
    height: rem(64);
    margin-right: rem(0);
  }
}

.price-table__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $accent-green;
}

.price-table__content-wrapper:last-of-type {
  border-bottom: none;
}

.price-table__price,
.price-table__content {
  font-size: rem(16);
  line-height: 1.5;
  font-weight: $normal;
  color: $green;
  font-family: "Noto Sans JP", sans-serif;
  @include mq("md") {
    padding: rem(16.8) rem(15);
  }
}

.price-table__content {
  width: 76%;
  padding: rem(5) rem(15);
  @include mq("md") {
    width: 69%;
  }
}

.price-table__price {
  width: 33.2%;
  text-align: right;
  padding: rem(17.6) rem(15);
  border-left: 1px solid $accent-green;
}
