@use "global" as *;

.section-title {
    text-align: center
}

.section-title__main {
    font-size: rem(32);
    line-height: calc(40 / 32);
    color: $green;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}

.section-title__main::first-letter{
    color: $accent-green;
    text-transform: uppercase;
}

.section-title__sub {
    font-size: rem(12);
    line-height: calc(18 / 12);
    color: $accent-green;
    font-weight: $normal;
    margin-top: rem(6);
    @include mq("md") {
        margin-top: rem(10);
    }
}


.section-title__main.section-title__main--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title__sub.section-title__sub--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title__main.section-title__main--white::first-letter {
    @include mq("md") {
        color: $green2;
    }
}

.section-title__main.section-title__main--large {
    font-size: rem(80);
    text-transform: capitalize;
    color: $green;
    line-height: 1;
}


.section-title__sub.section-title__sub--large{
    font-size: rem(12);
    line-height: 1.5;
    margin-top: rem(-4);
    color: $accent-green;
}
