@use "global" as *;

.section-title {
    text-align: center;
    color: $green;
    font-size: rem(32);
    line-height: calc(40 / 32);
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}

.section-title::first-letter{
    color: $accent-green;
    text-transform: uppercase;
}

.section-title__sub {
    font-size: rem(12);
    line-height: calc(18 / 12);
    color: $accent-green;
    font-weight: $normal;
    margin-top: rem(6);
    @include mq("md") {
        margin-top: rem(10);
    }
}

.section-title.section-title--white {
    @include mq("md") {
        color: $white;
    }
}

.section-title.section-title--white::first-letter{
    @include mq("md") {
        color: $green2;
    }
}

.section-title--white .section-title__sub {
    @include mq("md") {
        color: $white;
    }
}

.section-title.section-title--large {
    font-size: rem(80);
    text-transform: capitalize;
    color: $green;
    line-height: 1;
}


.section-title--large .section-title__sub{
    margin-top: rem(-4);
}
