@use "global" as *;

.single-body {
  color: $green;
}

.single-body__top {
  border-bottom: 1px solid $accent-green;
}

.single-body__title h2 {
  margin-top: rem(8);
  font-size: rem(24);
  font-weight: $medium;
  line-height: 1.3;
  @include mq("md") {
    margin-top: rem(16);
    line-height: 1;
    font-size: rem(32);
  }
}

.single-body__meta {
  font-size: rem(14);
}

.single-body__mv {
  aspect-ratio: 345/231;
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
    aspect-ratio: 700/468;
  }
}

.single-body__mv img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.single-body__content {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }

  img {
    margin-top: rem(24);
    aspect-ratio: 345/231;
    height: 100%;
    width: 100%;
    object-fit: contain;
    @include mq("md") {
      margin-top: rem(40);
      aspect-ratio: 700/468;
    }
  }

  p {
    font-size: rem(16);
    line-height: 1.5;
  }

  p:not(:first-child) {
    margin-top: rem(24);
    @include mq("md") {
      margin-top: rem(40);
    }
  }

  ul {
    margin-top: rem(24);
    @include mq("md") {
      margin-top: rem(40);
    }
  }

  li {
    line-height: 1.5;
    margin-top: rem(4);
    text-indent: rem(-26);
    margin-left: rem(26);
  }

  li::before {
    content: "";
    mask: url("../images/common/starfish.svg");
    -webkit-mask: url("../images/common/starfish.svg");
    width: 18px;
    height: 18px;
    background-color: $accent-green;
    display: inline-block;
    mask-size: cover;
    -webkit-mask-size: cover;
    vertical-align: sub;
    margin-right: rem(9);
  }
}

.single-body__pagenavi {
  display: flex;
  gap: rem(82);
  justify-content: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.single-body__pagenavi a {
  position: relative;
  justify-content: center;
  color: $accent-green;
  background-color: $white;
  width: rem(38);
  height: rem(38);
  padding-top: rem(6);
  padding-bottom: rem(6);
  transition: 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-family: $second-font-family;
  border: 1px solid $accent-green;
  font-size: rem(16);
  font-weight: $bold;
}

.single-body__pagenavi a:hover {
  color: $white;
  background-color: $accent-green;
}

.single-body__prev::before {
  content: "";
  display: inline-block;
  width: rem(13);
  height: rem(13);
  border: 1px solid;
  border-color: transparent transparent $accent-green $accent-green;
  transform: rotate(45deg);
  position: absolute;
  top: 34%;
  left: 45%;
  transition: 0.3s;
}

.single-body__next::before {
  content: "";
  display: inline-block;
  width: rem(13);
  height: rem(13);
  border: 1px solid;
  border-color: $accent-green $accent-green transparent transparent;
  transform: rotate(45deg);
  position: absolute;
  top: 34%;
  left: 21%;
  transition: 0.3s;
}

.single-body__next:hover::before {
  border-color: $white $white transparent transparent;
}

.single-body__prev:hover::before {
  border-color: transparent transparent $white $white;
}
