@use "global" as *;

.sub-mv {
  width: 100%;
  height: rem(460);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq("md") {
    height: rem(548);
  }
}

.sub-mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.sub-mv__title {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  text-align: center;
  @include mq("md") {
    top: 59.18%;
  }
}

.sub-mv__title-text {
  font-size: rem(40);
  font-family: $second-font-family;
  font-weight: normal;
  @include mq("md") {
    font-size: rem(80);
  }
}

.sub-mv__title-text::first-letter {
  text-transform: uppercase;
}

.sub-mv.sub-mv--about-us {
  background-image: url("../images/common/aboutus-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/aboutus-sub-mv.webp");
  }
}

.sub-mv.sub-mv--blog {
  background-image: url("../images/common/blog-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/blog-sub-mv.webp");
  }
}

.sub-mv.sub-mv--campaign {
  background-image: url("../images/common/campaign-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/campaign-sub-mv.webp");
  }
}

.sub-mv.sub-mv--information {
  background-image: url("../images/common/information-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/information-sub-mv.webp");
  }
}

.sub-mv.sub-mv--price {
  background-image: url("../images/common/price-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/price-sub-mv.webp");
  }
}

.sub-mv.sub-mv--voice {
  background-image: url("../images/common/voice-sub-mv-sp.webp");
  @include mq("md") {
    background-image: url("../images/common/voice-sub-mv.webp");
  }
}
