@use "global" as *;

.tab__list {
    display: grid;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: rem(162) rem(162);
    column-gap: rem(21);
    row-gap: rem(16);
    @include mq("md") {
        display: flex;
        flex-direction: row;
        justify-content: left;
        column-gap: rem(32);
    }
}

.tab__button {
    background-color: $white;
    width: rem(162);
    font-size: rem(14);
    color: $accent-green;
    border: 1px solid $accent-green;
    text-transform: uppercase;
    padding-top: rem(8);
    padding-bottom: rem(2.8);
    transition: 0.3s ease;
}

.tab__button:hover {
    background-color: $accent-green;
    color: $white;
}

.tab__button.current {
    background-color: $accent-green;
    color: $white;
}

.tab__content {
    margin-top: rem(40);
}