@use "global" as *;

.voice {
    text-align: center;
}

.voice__inner {
    position: relative;
}

.voice__illust-top {
    display: none;
    @include mq("md") {
        display: inline-block;
        position: absolute;
        width: 100%;
        max-width: rem(301);
        top: rem(-121);
        right: clamp(rem(500), 68.152778vw, rem(882));
    }
}

.voice__illust-top img {
    aspect-ratio: 301 / 138;
    object-fit: cover;
}

.voice__cards {
    margin-top: rem(41);
    row-gap: rem(40);
    display: grid;
    justify-items: center;
    align-items: center;
    @include mq("md") {
        margin-top: rem(28);
        grid-template-columns: repeat(2,1fr);
        column-gap: rem(40);
    }
}

.voice__card {
    width: 100%;
    max-width: rem(345);
    @include mq("md") {
        max-width: rem(520);
    }
}

.voice__button {
    margin-top: rem(42);
    @include mq("md") {
        margin-top: rem(80);
}
}

.voice__illust-bottom {
    display: none;
    @include mq("md") {
        display: inline-block;
        position: absolute;
        width: 100%;
        max-width: rem(71);
        bottom: rem(-70);
        right: rem(24);
    }
}

.voice__illust-bottom img {
    aspect-ratio: 71 / 162;
    object-fit: cover;
}
